page-register {
    #registration-form{
        .loginpage-link {
            font-size: 1.2em;
            margin-top: 10px;
           text-align: center;
           color: rgb(44, 77, 138);
        }
        ion-col{
            width: 150px;
        }
        ion-select{
            width: 150px;
        }
        
    }
    // .error-messsage {
    //     font-size: 0.8em;
    //       //border: 1px solid #f1f1f1;
    //       color: rgb(255, 1, 1);
    //       position: absolute;
    //   }
      .error-message {
        display: block;
        font-size: 0.9em;
        color: rgb(255, 1, 1);
        margin-left: 20px;
    }
    
}
