page-customer-detail {
  .content-md {
    color: #000;
    //background-color: #edeff3;
}
  ion-icon {
      &[class*="custom-"] {
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        width: 1.5em;
        height: 1.5em;
        margin-top: 0px;
        margin-right: 7px;
          // max-width: 30px;
          //border: 0;
        float: right;
      }
    
      &[class*="custom-ellipsis-vertical-sharp"] {
        mask-image: url(../../assets/icon/ellipsis-vertical-sharp.svg);
      }
      &[class*="custom-add-circle-outline"] {
          mask-image: url(../../assets/icon/add-circle-outline.svg);
      }
      // &[class*="custom-close-circle-outline"] {
      //     mask-image: url(../../assets/icon/close-circle-outline.svg);
      // }
      // &[class*="custom-remove-circle-outline"] {
      //     mask-image: url(../../assets/icon/remove-circle-outline.svg);
      // }
    }
    .item-input .label-md, .item-select .label-md, .item-datetime .label-md {
      color: rgb(0, 0, 0);
  }
  .item-md {
    padding-left: 10px;
    padding-top: 2px;
    padding-right: 0;
    position: relative;
    font-size: 1.6rem;
    font-weight: normal;
    text-transform: none;
    color: #000;
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-header-md {
  font-size: 1.6rem;
  color: #222;
  padding: 2px;
}
#customer-name-card{
    font-size: 1.6rem;
    color: #222;
    padding: 12px;
}
.card-content-md {
  padding: 10px 13px;
  font-size: 1.4rem;
  line-height: 1.5;
}
}
