page-add-customer {
    .error-message {
        display: block;
        font-size: 0.9em;
        color: rgb(255, 1, 1);
        margin-left: 20px;
    }
    .label-md {
        margin: 13px 8px 13px 0;
        color: rgb(150, 147, 147)
    }
}
